#kanban {
  float: left;
  position: relative;
  width: 100%;
  ax-width: 100%;
  height: auto;
}
#scroller {
  float: left;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: auto;
}
#boards {
  float: left;
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 30px;
}

.board {
  float: left;
  position: relative;
  width: 300px;
  min-height: 100vh;
  margin: 8px;
  border-right: 1px solid lightgray;

}
.board header {

text-align: center;
  width: 100%;
  padding: 0.5em;
  text-transform: capitalize;
  border-radius: 3px 3px 0 0;
}

#board1 header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: black;
  text-transform: capitalize;
    text-align: center;
}
#board2 header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  line-height: normal;
  color: black;
    text-align: center;
}
#board3 header {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  color: black;
    text-align: center;
}

.cards {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 14px;
}
.card {
  float: left;
  width: 100%;
  height: auto;
}
.cardtitle {
  float: left;
  width: 100%;
}
.cards .is-moving {
  background-color: white;
  color: black;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gu-mirror {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}